<div id="game-container" *ngIf="userIsAuthenticated && user?.active">

  <div class="circles-stop" *ngIf="game.gameStatus.toString() === 'awaiting'">
    <div class="game-card">
      <div class="game-card-body">
        <p class="game-card-text game-card-title">Welcome 👋</p>

        <p class="game-card-text mt-15 mb-15"> <strong>{{user.username}}</strong></p>
        <p class="game-card-text">Highscore: <strong>{{user.highscore}}</strong></p>


        <div class="selector">
          <mat-form-field appearance="fill" style="width: 80%;">
            <mat-label>Difficulity</mat-label>
            <mat-select [value]="game.difficulity" (valueChange)="onChangeDifficulity($event)">
              <mat-option *ngFor="let option of game.options" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <p class="game-card-text mt-15">
          <button mat-raised-button color="primary" (click)="startGame()">PLAY!</button>
        </p>

      </div>

    </div>
  </div>

  <div class="circles" *ngIf="game.gameStatus.toString() === 'start'">
    <div class="game-card">
      <div class="game-card-body">
        <p class="game-card-text">Question: <strong>{{game.questionIndex+1}}</strong> |
          <span>Score: </span>
          <strong>{{game.score}}</strong>
        </p>

        <p class="game-card-text">
          <countdown #cd [config]="game.countdownConfig" (event)="handleEvent($event)"></countdown>
        </p>

        <p class="game-card-question mt-5 mb-5"> <strong>
            {{game.questions[game.questionIndex].question}}</strong>
        </p>

        <p class="game-card-question mt-5 mb-5"> <strong class="mr-10">1)</strong>
          {{game.questions[game.questionIndex].option1}}
        </p>

        <p class="game-card-question mt-5 mb-5"> <strong class="mr-10">2)</strong>
          {{game.questions[game.questionIndex].option2}}
        </p>

        <p class="game-card-question mt-5 mb-5"> <strong class="mr-10">3)</strong>
          {{game.questions[game.questionIndex].option3}}
        </p>

        <p class="game-card-message" *ngIf="game.answerChecked"> <strong> {{game.message}}</strong>
        </p>


        <div class="selector" *ngIf="!game.answerChecked">
          <mat-form-field appearance="fill" style="width: 80%;">
            <mat-label>Choose</mat-label>
            <mat-select [value]="game.answer" (valueChange)="onChooseAnswer($event)">
              <mat-option *ngFor="let answer of game.answers" [value]="answer.value">
                {{answer.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>


      <p class="game-card-button mb-30">
        <button mat-raised-button color="primary" *ngIf="!game.answerChecked" [disabled]="!game.answer"
          (click)="checkAnswer()">Check!</button>
        <button mat-raised-button color="primary" *ngIf="game.answerChecked" (click)="nextQuestion()">Next!</button>
      </p>
    </div>

  </div>

  <div class="circles-stop" *ngIf="game.gameStatus.toString() === 'end'">
    <div class="game-card end-card">
      <div class="game-card-body">
        <p class="game-card-text">Score: <strong>{{game.score}}</strong></p>
        <p class="game-card-text">{{game.message}}</p>

        <p class="game-card-text mt-15">
          <button mat-raised-button color="primary" (click)="restart()">Restart</button>
        </p>

      </div>
    </div>

  </div>

</div>


<app-celebrate *ngIf="game.showConfetti"></app-celebrate>
