ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  margin: 0px 5px 0px 5px;
  padding-top: 5px;
}
