<mat-toolbar color='primary'>
  <span class="spacer"></span>
  <span><a (click)="router.navigate([''])">Quiz App</a></span>
  <span class="flex-spacer"></span>


  <ul>
    <li *ngIf="userIsAuthenticated && role === 'admin'">
      <a mat-button routerLink="/admin/" routerLinkActive="mat-warn">Questions</a>
    </li>
    <li *ngIf="userIsAuthenticated && role === 'admin'">
      <a mat-button routerLink="/admin/create" routerLinkActive="mat-warn">New Question</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-warn">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-warn">Signup</a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>

  </ul>
  <span class="flex-spacer"></span>

  <ul>
    <li>



      <mat-button-toggle-group appearance="legacy" [value]='theme' (change)="onChangeEvent($event)">
        <mat-button-toggle value="blue-theme">Blue</mat-button-toggle>
        <mat-button-toggle value="red-theme">Red</mat-button-toggle>
      </mat-button-toggle-group>



    </li>
  </ul>
  <span class="spacer"></span>

</mat-toolbar>
