<mat-toolbar color='primary'>
  <span><a routerLink="">Quiz App</a></span>

  <span class="spacer"></span>


  <ul>
    <li *ngIf="userIsAuthenticated && role === 'admin'">
      <a mat-button routerLink="/admin/questions" routerLinkActive="mat-warn">Questions</a>
    </li>
    <li *ngIf="userIsAuthenticated && role === 'admin'">
      <a mat-button routerLink="/admin/create" routerLinkActive="mat-warn">New Question</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-warn">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-warn">Signup</a>
    </li>



    <!-- <button mat-raised-button color="primary" (click)="onSetTheme('red-theme')">Default</button>
    <button mat-raised-button color="primary" (click)="onSetTheme('blue-theme')">Dark</button> -->

    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>







  </ul>
  <span class="spacer"></span>

  <ul>
    <li>
      Blue


      <mat-slide-toggle (change)="onChangeEvent($event)">
      </mat-slide-toggle>
      Red

    </li>
  </ul>
</mat-toolbar>
