@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200..900");
@import "~@angular/material/theming";
@include mat-core();

* {
  margin: 0;
  padding: 0;
}

.mat-button-toggle {
  height: 30px !important;
  position: relative !important;
}
.mat-button-toggle-label-content {
  font-size: 14px !important;
  margin: 0 !important;
  top: 0% !important;
  -ms-transform: translateY(-2%) !important;
  transform: translateY(-2%) !important;
}

html,
body {
  height: 100%;
}
body {
  background-color: #0d242f;
  background: url("https://edenik.com/assets/images/quiz_app_background.png")
    no-repeat center center;
  background-size: cover;
  font-family: "Raleway", monospace !important;
  font-weight: 500;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-15 {
  margin-bottom: 30px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.auth-card {
  max-width: 350px !important;
  margin: auto;
}

.info-text {
  color: #eeeeee;
}

.center-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-slide-toggle-thumb {
  width: 10px !important;
  height: 10px !important;
  transform: translate(50%, 50%);
}

$quiz-blue-primary: mat-palette($mat-cyan, 700);
$quiz-blue-accent: mat-palette($mat-gray, 300);
$quiz-blue-warn: mat-palette($mat-blue-gray, 900);

$quiz-blue-theme: mat-light-theme(
  (
    color: (
      primary: $quiz-blue-primary,
      accent: $quiz-blue-accent,
      warn: $quiz-blue-warn,
    ),
  )
);

$quiz-red-primary: mat-palette($mat-red, 700);
$quiz-red-accent: mat-palette($mat-gray, 300);
$quiz-red-warn: mat-palette($mat-blue-gray, 900);

$quiz-red-theme: mat-light-theme(
  (
    color: (
      primary: $quiz-red-primary,
      accent: $quiz-red-accent,
      warn: $quiz-red-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: "Raleway, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-core($custom-typography);

.mat-button-toggle {
  background-color: #0d242f !important;
  .mat-button-toggle-label-content {
    color: #ffffff;
  }
}

.mat-button-toggle-checked {
  background-color: #ffffff !important;
  .mat-button-toggle-label-content {
    color: #0d242f;
  }
}

.red-theme {
  @include angular-material-theme($quiz-red-theme);
}

.blue-theme {
  @include angular-material-theme($quiz-blue-theme);
}
