#game-container {
  place-items: center;
  display: grid;
  height: 500px;
}

.circles-stop {
  position: relative;
  &:before,
  &:after {
    border-radius: 50%;
    animation: none !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 180px;
    width: 180px;
    margin: 0;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:before {
    background: #97d2ff;
    background: -moz-radial-gradient(top right, #97d2ff, #057ef9);
    background: radial-gradient(to bottom left, #97d2ff, #057ef9);
    background: -webkit-radial-gradient(top right, #97d2ff, #057ef9);
  }
  &:after {
    animation-delay: -2.5s;
    background: #f64d4f;
    background: -moz-radial-gradient(bottom right, #fa7e7e, #f64d4f);
    background: radial-gradient(to top left, #fa7e7e, #f64d4f);
    background: -webkit-radial-gradient(bottom right, #fa7e7e, #f64d4f);
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.circles {
  position: relative;
  &:before,
  &:after {
    animation: orbit 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 180px;
    width: 180px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:before {
    background: #97d2ff;
    background: -moz-radial-gradient(top right, #97d2ff, #057ef9);
    background: radial-gradient(to bottom left, #97d2ff, #057ef9);
    background: -webkit-radial-gradient(top right, #97d2ff, #057ef9);
  }
  &:after {
    animation-delay: -2.5s;
    background: #f64d4f;
    background: -moz-radial-gradient(bottom right, #fa7e7e, #f64d4f);
    background: radial-gradient(to top left, #fa7e7e, #f64d4f);
    background: -webkit-radial-gradient(bottom right, #fa7e7e, #f64d4f);
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.game-card {
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  height: 450px;
  width: 390px;
  overflow: hidden;
  position: relative;
  &:before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%)
      brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
  &-body {
    color: #0d232d;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    z-index: 2;
  }
  &-title {
    font-size: 40px;
  }
  &-text {
    flex: 100%;
    margin: 0 auto;
    font-size: 30px;
    max-width: 80%;
    line-height: 1.5;
  }
  &-question {
    display: flex;
    flex: 100%;
    margin: 0 auto;
    font-size: 20px;
    max-width: 80%;
    line-height: 1.5;
    text-align: left;
  }
  &-button {
    position: absolute;
    bottom: 4px;
    left: 39%;
  }
  &-message {
    margin: 15px auto 0 auto;
  }
}

.end-card {
  height: 270px;
}
@media only screen and (max-width: 600px) {
  .game-card {
    width: 300px;
    height: 450px;
  }

  .end-card {
    height: 270px;
  }

  .game-card-text {
    font-size: 25px !important;
  }
  .game-card-title {
    font-size: 30px !important;
  }
}

.selector {
  font-size: 18px !important;
  margin: 20px auto 0 auto;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
